@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .utility-btn {
    @apply flex flex-row items-center justify-center 
          w-14 h-14 m-8 rounded-full shadow-sm
          transition-all dark:hover:bg-slate-800 hover:bg-gray-200;
  }
  .time {
    @apply dark:text-white text-black;
    font-family: 'Roboto Slab', serif;
  }
  .title {
    @apply text-white text-3xl;
    font-family: 'Roboto Slab', serif;
  }
  .nav-btn {
    @apply flex flex-row items-center justify-center 
          w-10 h-10 m-0 mx-2 rounded-full shadow-sm
          transition-all duration-100 dark:hover:bg-slate-700 hover:bg-gray-300;
  }
  .tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max mt-28
          rounded-md shadow-md
          text-white dark:bg-slate-700 bg-gray-400
          text-xs font-bold
          transition-all duration-100 scale-0 origin-top;
  }
  .popup-background {
    @apply flex items-center justify-center fixed top-0 left-0 z-10
          w-full h-full bg-slate-950/20;
  }
  .popup-content {
    @apply relative w-2/5 h-auto p-12 rounded-lg bg-slate-950 z-20
          text-white;
    font-family: 'Roboto Slab', serif;
  }
  .input-valid {
    @apply w-52 px-5 py-2 bg-transparent border-2 outline-none border-zinc-600 rounded-xl 
    placeholder:text-zinc-500 focus:border-white
  }
  .input-invalid {
    @apply w-52 px-5 py-2 bg-transparent border-2 outline-none border-red-500 rounded-xl 
    placeholder:text-zinc-500 focus:border-red-600
  }
  .submit-btn {
    @apply relative w-36 h-10 mt-6
    bg-white shadow-md 
    transition-all hover:text-white ease-out duration-100
    text-black text-lg;
    font-family: 'Roboto', sans-serif;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}